.item_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
    color: black;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
}

.list_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
}

.form_container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.input {
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    width: 50vw;
}

h4 {
    margin-top: 15px;
    margin-bottom: -10px;
}
