.badge_container {
    display: flex;
    justify-content: start;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-top: -10px;
    background-color: green;
    color: white;
    height: 20px;
    width: 65px;
    border-radius: 10px;
}

.inactive_badge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-top: -10px;
    background-color: grey;
    color: white;
    height: 20px;
    width: 65px;
    border-radius: 10px;
}

.pending_badge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-top: -10px;
    background-color: orangered;
    color: white;
    height: 20px;
    width: 85px;
    border-radius: 10px;
}